:root {
    --stormblue: rgb(39, 39, 56);
    --solidred: rgb(68, 7, 7);
    --gentlered: rgb(192, 168, 168);
    --solidgrey: rgb(100, 96, 96);
    --green: green;
    --yellow: yellow;
    --orange: orange;
    --red: red;
    --violet: violet;
    --white: white;
    --black: black;
}

p {
    padding: 5px;
}

#mainTitle {
    background: var(--stormgrey);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    text-align: center;
    padding: 0;
    margin: 0;
}

#clearHistoryBtn {
    background-color: var(--white);
    width: 100%;
    padding: 1rem;
    margin: 0.5rem;
    color: var(--solidred);
    border-radius: 0.5rem;
    border: 1px solid var(--gentlered);
}

#clearHistory button:hover{
    background-color: var(--solidred);
    width: 100%;
    padding: 1rem;
    margin: 0.5rem;
    color: var(--white);
    border-radius: 0.5rem;
    border: 1px solid var(--gentlered);
}

#searchHistory button {
    display: block;
    width: 100%;
    padding: 1rem;
    margin: 0.5rem;
    background-color: var(--gentlered);
    font-size: 12px;
    color: var(--black);
    border: 1px solid var(--solidgrey);
    border-radius: 0.5rem;
}

#searchHistory button:hover {
    background-color: var(--solidred);
    color: var(--white);
    transition: 0.3s;
    font-size: x-large;
}

.currentCity {
    border-radius: 0.5rem;
}

.hide {
    display: none;
    visibility: hidden;
}

#cityForecastNow {
    background-color: var(--stormblue);
    color: white;
}

#todayForecast {
    width: 100%;
};

#uvIndex {
    padding: 0.5rem;
}

.uvLow {
    background-color: var(--green);
    color: var(--white);
    border-radius: 0.5rem;
    padding: 0.5rem;
    border: 1px solid var(--green);
}

.uvModerate {
    background-color: var(--yellow);
    color: var(--black);
    border-radius: 0.5rem;
    padding: 0.5rem;
    border: 1px solid var(--yellow);
}

.uvHigh {
    background-color: var(--orange);
    color: var(--black);
    border-radius: 0.5rem;
    padding: 0.5rem;
    border: 1px solid var(--orange);
}

.uvVeryHigh {
    background-color: var(--red);
    color: var(--white);
    border-radius: 0.5rem;
    padding: 0.5rem;
    border: 1px solid var(--red);
}

.uvExtreme {
    background-color: var(--violet);
    color: var(--white);
    border-radius: 0.5rem;
    padding: 0.5rem;
    border: 1px solid var(--violet);
}

#city5DayForecast {
    background-color: lightblue;
    border-radius: 0.5rem;
}

.forecastTitle {
    justify-content: center;
}

#fiveDayForecastContainer {
    display: flex;
    flex-wrap: wrap;
}

.weatherCard {
    display: inline-block;
    background-color: var(--stormblue);
    color: lightgray;
    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem;
    margin: 0.5rem;
}